!.keep
.pio
.vscode
.vscode/**
data/sna/**
!data/sna/sppong.sna
!data/sna/sppong.txt
!data/sna/diag.sna
!data/sna/fantasy.sna
!data/sna/fantasy.txt
!data/sna/ManicMiner.txt
!data/sna/Snake.sna
!data/sna/Snake.txt
!data/sna/Tetris.sna
!data/sna/Tetris.txt
data/tap/**
!data/tap/vccc2022.tap
/unpacked_fs
downloaded_fs*.bin
