!.keep
.pio
.vscode
.vscode/**
data/persist/**
data/persist/persist.txt
data/sna/**
!data/sna/sna.txt
!data/sna/sppong.sna
!data/sna/diag.sna
!data/sna/fantasy.sna
!data/sna/Snake.sna
!data/sna/Tetris.sna
data/tap/**
!data/tap/tap.txt
!data/tap/teclado.tap
!data/tap/vccc2022.tap
/unpacked_fs
/unpacked_fs/**
downloaded_fs*.bin
/doc
/doc/**
/releases
/releases/**
