!.keep
.pio
.vscode
.vscode/**
.VSCodeCounter
.VSCodeCounter/**
data/s/**
!data/s/sppong.sna
!data/s/fantasy.sna
!data/s/Snake.sna
!data/s/Tetris.sna
data/t/**
!data/t/vccc2022.tap
/unpacked_fs
/unpacked_fs/**
downloaded_fs*.bin
/doc
/doc/**
/releases
/releases/**

